{
    "extends": "rallycoding",
    "rules": {
        "react/require-extension": "off",
        "arrow-body-style":"off"
    },
    "globals": {
        "document": true,
        "foo": true,
        "window": true
      }
    
}
    
   